#player-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-cards {
  background-color: springgreen;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 1em;
  border-radius: 3%;
}

img.player-cards {
  margin: auto;
}

button {
  margin: .4em;
}

a {
  margin: 1em;
}